# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Administrator.DESKTOP-KMH7HN6\Downloads\baidudownload\09-Maven项目管理工具\第二天\课件资料\课件资料\代码\代码\备份\maven_day02_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
